* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin-bottom: 94px;
  width: 100%;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #232536;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navbar__left {
  display: flex;
  -moz-column-gap: 83px;
       column-gap: 83px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.navbar__menu-link a {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.navbar .toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  display: none;
}
.navbar button {
  padding: 16px 48px;
  background: #fff;
  border: 1px solid #fff;
  color: #232536;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.navbar button:hover {
  scale: 1.05;
  background-color: #ffd050;
  color: #fff;
  border: 1px solid transparent;
}
.navbar button:active {
  scale: 0.95;
  background-color: #ffd050;
  color: #fff;
  border: 1px solid transparent;
}

.hero {
  margin-top: 80px;
  height: 720px;
  background-image: url("../img/hero-bg.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.hero__content {
  padding-top: 128px;
}
.hero__content-subtitle {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero__content-subtitle span {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hero__content-title {
  color: var(--Light, #fff);
  margin-bottom: 24px;
  /* Display */
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -2px;
  max-width: 803px;
}
.hero__content-info {
  color: var(--Light, #fff);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.hero__content-info span {
  color: var(--Yellow, #ffd050);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.hero__content-paragraph {
  color: var(--Light, #fff);
  margin-top: 16px;
  margin-bottom: 48px;
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  max-width: 599px;
}

.read-more {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  display: inline-block;
  padding: 16px 48px;
  align-items: flex-start;
  gap: 12px;
  background: var(--Yellow, #ffd050);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown__menu {
  position: fixed;
  right: 2rem;
  top: 100px;
  width: 300px;
  background-color: #232536;
  overflow: hidden;
  border-radius: 10px;
  display: none;
  height: 0;
  transition: height 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown__menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown__menu li a {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.dropdown__menu button {
  padding: 10px 5px;
  width: 100%;
  background: #fff;
  border: 1px solid #fff;
  color: #232536;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 15px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.dropdown__menu button:hover {
  scale: 1.05;
  background-color: #ffd050;
  color: #fff;
  border: 1px solid transparent;
}
.dropdown__menu button:active {
  scale: 0.95;
  background-color: #ffd050;
  color: #fff;
  border: 1px solid transparent;
}

.dropdown__menu.open {
  height: 269.6px;
}

@media (max-width: 992px) {
  .navbar__menu,
  .navbar .login {
    display: none;
  }
  .navbar .toggle-btn {
    display: block;
  }
  .dropdown__menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown__menu {
    left: 2rem;
    width: unset;
  }
}
.blogs {
  border-bottom: 1px solid #d3d4d6;
  padding-bottom: 66px;
  margin-bottom: 69px;
}
.blogs__title {
  color: #000;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: -2px;
  margin-bottom: 64px;
}
.blogs__cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 32px;
}
.blogs__cards-card {
  max-width: 405px;
  flex-grow: 12;
}
.blogs__cards-card img {
  min-width: 405px;
}
.blogs__cards-card h3 {
  color: var(--Dark-Grey, #4c4c4c);
  /* Label 01 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin-top: 32px;
}
.blogs__cards-card h3 span {
  color: var(--Purple, #592ea9);
  /* Label 01 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.blogs__cards-card h2 {
  color: var(--Black, #232536);
  /* Heading H3 */
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
  letter-spacing: -1px;
  max-width: 405px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.blogs__cards-card h4 {
  color: var(--Black, #656672);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

@media (max-width: 839px) {
  .blogs__cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 32px;
  }
}
.category {
  margin-bottom: 237px;
}
.category__title {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.333%;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 71.43px;
}
.category__cards {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category__cards-card {
  width: 296px;
  height: 221.072px;
  flex-shrink: 0;
  border: 1px solid #d3d3d6;
  padding-left: 32px;
  padding-top: 31.03px;
}
.category__cards-card img {
  margin-bottom: 15.51px;
}
.category__cards-card h2 {
  color: var(--Black, #232536);
  /* Heading H3 */
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
}
.category__cards-card h3 {
  color: var(--Medium-grey, #6d6e76);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 31.03px;
}
.category__cards-card:hover {
  background: var(--Yellow, #ffd050);
}
.category__cards-card:nth-child(2) {
  background: var(--Yellow, #ffd050);
}

@media (max-width: 654px) {
  .category__cards {
    justify-content: center;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 164px;
  background: var(--Black, #232536);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 164px;
}
.footer__info h2 a {
  color: #bdbec3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.footer__info h3 a {
  color: #bdbec3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.footer__socails {
  display: flex;
  -moz-column-gap: 26.67px;
       column-gap: 26.67px;
}

@media (max-width: 576px) {
  footer, .footer {
    height: 90px;
  }
  footer__info h2 a, .footer__info h2 a {
    font-size: 14px;
  }
  footer__info h3 a, .footer__info h3 a {
    font-size: 13px;
  }
  .footer__socails {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.header-business {
  height: 418px;
  width: 100%;
  background: var(--Lavender, #f4f0f8);
}

.business-hero {
  margin-top: 80px;
  height: 418px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.business-hero h1 {
  color: var(--Black, #232536);
  text-align: center;
  /* Display */
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -2px;
}
.business-hero h3 {
  color: var(--Medium-grey, #6d6e76);
  text-align: center;
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  max-width: 515px;
  margin-bottom: 32px;
  margin-top: 16px;
}
.business-hero h2 {
  color: var(--Black, #232536);
  text-align: center;
  /* Cap 03 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.search-input {
  width: 100%;
  height: 76px;
  display: flex;
  padding: 24px;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.5);
  color: var(--Black, #232536);
}

.search-input::-moz-placeholder {
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.search-input::placeholder {
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.business-input {
  margin-bottom: 251px;
}

.articles {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  margin-bottom: 32px;
}
.article img {
  width: 447.65px;
  height: 312px;
}

.article__content {
  margin-left: 48.72px;
}

.article__content-subtitle {
  color: var(--Purple, #592ea9);
  /* Cap 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.article__content-title {
  color: var(--Black, #232536);
  /* Heading H2 */
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: -2px;
  margin-bottom: 64px;
}

.article__content-text {
  color: var(--Medium-grey, #6d6e76);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  max-width: 779.581px;
}

.pagination {
  display: flex;
  margin-top: 87px;
  margin-bottom: 251px;
  align-items: center;
}

.pagination li:nth-child(1) {
  color: var(--Medium-grey, #6d6e76);
  text-align: center;
  /* Heading H4 */
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-right: 11px;
  cursor: pointer;
}

.pagination li:nth-child(1):hover {
  color: var(--Black, #232536);
  text-align: center;
  /* Heading H3 */
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
  margin-left: 7px;
  cursor: pointer;
}

.pagination li {
  color: var(--Black, #232536);
  text-align: center;
  /* Heading H3 */
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
  margin-left: 7px;
  cursor: pointer;
}

.pagination li:hover {
  color: var(--Medium-grey, #6d6e76);
  text-align: center;
  /* Heading H4 */
  font-family: Sen;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  cursor: pointer;
}

.pagination li:last-child {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .article__content {
    margin-left: 0px;
  }
  .article__content-subtitle {
    margin-top: 10px;
  }
  .article__content-title {
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -2px;
  }
  .article__content-text {
    margin-top: 10px;
    color: var(--Medium-grey, #6d6e76);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    max-width: 448px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .articles {
    row-gap: 40px;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .article img {
    min-width: 350px;
    width: 100%;
  }
  .article__content-title {
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -2px;
  }
}
.all-posts-input {
  margin-top: 144px;
}

.allposts-title {
  color: var(--Black, #232536);
  /* Heading H1 */
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  letter-spacing: -2px;
  padding-bottom: 32px;
  width: 100%;
  border-bottom: 1px solid #D0D1D3;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 149px;
  margin-bottom: 322px;
}
.register__title {
  color: #232536;
  text-align: center;
  /* Heading H1 */
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  letter-spacing: -2px;
  margin-bottom: 68px;
}
.register__form {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  max-width: 768px;
  width: 100%;
}
.register__form input {
  display: flex;
  max-width: 768px;
  width: 100%;
  padding: 24px;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.5);
}
.register__form input ::-moz-placeholder {
  color: var(--Black, #232536);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.register__form input ::placeholder {
  color: var(--Black, #232536);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.register__form .register-btn {
  max-width: 768px;
  width: 100%;
  height: 64px;
  margin-top: 74px;
  background: var(--Yellow, #ffd050);
  border: 1px solid #ffd050;
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}/*# sourceMappingURL=main.css.map */