* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header {
  margin-bottom: 94px;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #232536;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navbar__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.navbar__menu-link a {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.navbar__menu button {
  margin-left: 83px;
  padding: 16px 48px;
  background: #fff;
  border: 1px solid #fff;
  color: #232536;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
}

.hero {
  margin-top: 80px;
  height: 720px;
  background-image: url("../img/hero-bg.png");
  width: 100%;
  width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 91vh;
}

.hero__content {
  padding-top: 128px;
}
.hero__content-subtitle {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero__content-subtitle span {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hero__content-title {
  color: var(--Light, #fff);
  margin-bottom: 24px;
  /* Display */
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -2px;
  max-width: 803px;
}
.hero__content-info {
  color: var(--Light, #fff);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.hero__content-info span {
  color: var(--Yellow, #ffd050);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.hero__content-paragraph {
  color: var(--Light, #fff);
  margin-top: 16px;
  margin-bottom: 48px;
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  max-width: 599px;
}

.read-more {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  display: inline-block;
  padding: 16px 48px;
  align-items: flex-start;
  gap: 12px;
  background: var(--Yellow, #ffd050);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar__menu {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background-color: #232536;
    flex-direction: column;
    transition: 0.5s all;
  }
}
.blogs {
  border-bottom: 1px solid #d3d4d6;
  padding-bottom: 66px;
  margin-bottom: 69px;
}
.blogs__title {
  color: #000;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: -2px;
  margin-bottom: 64px;
}
.blogs__cards {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.blogs__cards-card {
  width: 405px;
}
.blogs__cards-card h3 {
  color: var(--Dark-Grey, #4c4c4c);
  /* Label 01 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin-top: 32px;
}
.blogs__cards-card h3 span {
  color: var(--Purple, #592ea9);
  /* Label 01 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.blogs__cards-card h2 {
  color: var(--Black, #232536);
  /* Heading H3 */
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
  letter-spacing: -1px;
  max-width: 405px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.blogs__cards-card h4 {
  color: var(--Black, #656672);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.category {
  padding-bottom: 73px;
}
.category__title {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.333%;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 71.43px;
}
.category__cards {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.category__cards-card {
  width: 296px;
  height: 221.072px;
  flex-shrink: 0;
  border: 1px solid #d3d3d6;
  padding-left: 32px;
  padding-top: 31.03px;
}
.category__cards-card img {
  margin-bottom: 15.51px;
}
.category__cards-card h2 {
  color: var(--Black, #232536);
  /* Heading H3 */
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
}
.category__cards-card h3 {
  color: var(--Medium-grey, #6d6e76);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 31.03px;
}
.category__cards-card:hover {
  background: var(--Yellow, #ffd050);
}
.category__cards-card:nth-child(2) {
  background: var(--Yellow, #ffd050);
}

footer {
  width: 100%;
  height: 164px;
  background: var(--Black, #232536);
  width: 1440px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 164px;
}
.footer__info h2 a {
  color: #bdbec3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.footer__info h3 a {
  color: #bdbec3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.footer__socails {
  display: flex;
  -moz-column-gap: 26.67px;
       column-gap: 26.67px;
}/*# sourceMappingURL=main.css.map */