footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 164px;
  background: var(--Black, #232536);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 164px;

  &__info {
    h2 {
      a {
        color: #bdbec3;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        outline: none;
        text-decoration: none;
        cursor: pointer;
      }
    }
    h3 {
      a {
        color: #bdbec3;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        outline: none;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  &__socails{
    display: flex;
    column-gap: 26.67px;
  }
}



@media (max-width:576px){
  footer, .footer{
    height: 90px;

    &__info{
      h2{
        a{
         font-size: 14px;
        }
      }
      h3{
        a{
          font-size: 13px;
        }
      }
    }

   

  }
.footer__socails{
  column-gap: 10px;
}
}