header {
  margin-bottom: 94px;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #232536;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  &__menu {
    display: flex;
    align-items: center;
    column-gap: 24px;
    &-link a {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      color: #fff;
      outline: none;
      text-decoration: none;
    }
    button {
      margin-left: 83px;
      padding: 16px 48px;
      background: #fff;
      border: 1px solid #fff;
      color: #232536;
      font-family: Sen;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      border-radius: 5px;
    }
  }
}

.hero {
  margin-top: 80px;
  height: 720px;
  background-image: url("../img/hero-bg.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 91vh;
}
// .hero ::after {
//   content: "";
//   background: radial-gradient(
//     80.99% 71.93% at 74.58% 0%,
//     rgba(0, 0, 0, 0) 0%,
//     rgba(0, 0, 0, 0.6) 100%
//   );
//   height: 720px;
//   width: 100%;
//   left: 0;
//   position: absolute;
//   top: 80px;
//   top: 0;
//   z-index: 2;
// }
.hero__content {
  padding-top: 128px;

  &-subtitle {
    color: var(--Light, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 24px;

    span {
      color: var(--Light, #fff);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
  &-title {
    color: var(--Light, #fff);
    margin-bottom: 24px;

    /* Display */
    font-family: Sen;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -2px;
    max-width: 803px;
  }

  &-info {
    color: var(--Light, #fff);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */

    span {
      color: var(--Yellow, #ffd050);

      /* Body 1 */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  &-paragraph {
    color: var(--Light, #fff);
    margin-top: 16px;
    margin-bottom: 48px;
    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    max-width: 599px;
  }
}
.read-more {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  display: inline-block;
  padding: 16px 48px;
  align-items: flex-start;
  gap: 12px;
  background: var(--Yellow, #ffd050);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.nav__toggler {
  div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;
  }
}
.nav__toggler {
  cursor: pointer;
  // display: none;
  margin-right: 20px;
}

.nav__active {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 10px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -10px);
}

@media (max-width: 768px) {
  .navbar {
    &__menu {
      position: fixed;
      top: 8vh;
      right: 0;
      width: 50%;
      height: 93vh;
      background-color: #232536;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s all;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 3rem;
    }
  }
      .nav__toggler{
        display: block;
}

.active__menu{
  transform: translateX(0);
}
}
