*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

@import './fonts';
@import './mixins';
@import './container';
@import "./header";
@import "./blogs";
@import "./category";
@import "./footer";
@import "./business/header";