*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


@import './fonts';
@import './mixins';
@import './container';
@import "./homepage/header";
@import "./homepage/blogs";
@import "./homepage/category";
@import "./homepage/footer";
@import "./business/header";
@import "./business/articles";
@import "./all-posts/header";
@import "./all-posts/article";
@import "./register/header";
