.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 149px;
  margin-bottom: 80px;
  &__title {
    color: #232536;
    text-align: center;

    /* Heading H1 */
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -2px;
    margin-bottom: 68px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    max-width: 768px;
    width: 100%;
    input {
      display: flex;
      max-width: 768px;
      width: 100%;
      padding: 24px;
      align-items: center;
      border-radius: 2px;
      border: 1px solid rgba(109, 110, 118, 0.5);
    }
    input ::placeholder {
      color: var(--Black, #232536);

      /* Body 1 */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
    .register-btn {
      max-width: 768px;
      width: 100%;
      height: 64px;
      margin-top: 74px;
      background: var(--Yellow, #ffd050);
      border: 1px solid #ffd050;
      color: var(--Black, #232536);
      font-family: Sen;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
    }
    .register-btn:hover {
      scale: 1.05;
      background-color: #ffd050;
      color: #fff;
      border: 1px solid transparent;
    }
    .register-btn:active {
      scale: 0.95;
      background-color: #ffd050;
      color: #fff;
      border: 1px solid transparent;
    }
  }
}

// .input-control input:focus{
//   outline: 0;
// }

// .input-control .success input:focus{
//   border-color: #16a844;
// }
// .input-control .error-message input:focus{
//   border-color: rgb(206, 9, 9);
// }
// .input-control .error-message{
//   color: rgb(206, 9, 9);
//   font-size: 14px;
//   height: 13px;
// }

.error {
  color: #fff;
}

.show-error{
  color: rgb(206, 9, 9);
  font-size: 14px;
  height: 13px;
}


.post-data{
  margin-bottom: 250px;
    padding-bottom: 230px
}


.users{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  row-gap: 30px;
  .user{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
     max-width: 600px;
  }
}