.allposts-title {
  color: var(--Black, #232536);

  /* Heading H1 */
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  letter-spacing: -2px;
  padding-bottom: 32px;
  width: 100%;
  border-bottom: 1px solid #D0D1D3;
}
